body{
    font-family: 'Mulish', sans-serif;
}
.hide{
    display:none;
}

/* nav */
.nav-sec{
    width: 1170px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.parent-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-img-div{
    display: flex;
    gap: 15px;
    
    justify-content: center;
}
.nav-title{
    color: var(--Dark-01, #131318);


font-size: 32px;

font-weight: 800;

}
.nav-span{
    color: #FF5400;

font-size: 32px;

font-weight: 800;

}
.a a{
    text-decoration: none;
    font-size: 20px;
   margin-left: 10px;
   color: black;
}

.nav-svg{
    display: none;
}
#active{
    color:#FF5400!important; ;
}

/* banner */
.banner{
    width: 1170px;
    padding: 150px 135px 100px 135px;
    margin: auto;
    background-image: url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    background-color: gray;
 background-blend-mode: multiply;
    border-radius: 0px 0px 10px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.banner-title{
    color: #FFF;
padding-top: -50px;
    
    font-size: 64px;
    
    font-weight: 800;
    
}
.all-des1{
    color: #FFF;

text-align: center;

font-size: 16px;
margin-bottom: 50px;
font-weight: 400;
line-height: 26px;
}
.all-des{
    color: rgba(19, 19, 24, 0.70);

text-align: center;

font-size: 16px;
margin-bottom: 50px;
font-weight: 400;
line-height: 26px;
}
.banner-div{
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
padding:10px ;
}
.input1{
    padding: 16px 84px 16px 16px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}
.input2{
    padding: 16px 84px 16px 16px;
    border-radius: 8px;
background: #FFF;
border: none;
}
.input3{
    padding: 16px 84px 16px 16px;
    border-radius: 8px;
background: #FFF;
border: none;
}
.svg{
    position: relative;
    margin-left: -50px;
    
}


/* .search{
    position: relative;
     margin-left: -50px;
} */
.find-btn{
    border-radius: 8px;
background: #FF5400;
padding: 10px 34px 10px 67px;
border: none;
color: white;
}

/* tour */
.tour-sec{
    width: 1170px;
    margin: 150px auto;
   
    
}
.tour-div{
    display: flex;
    gap: 70px;
    
}

.tour-title{
    color: #131318;


   
font-size: 40px;

font-weight: 800;

}
.read-btn{
    border-radius: 8px;
    background: #FF5400;
    color: white;
    border: none;
    padding:14px 35px ;
}





/* destination */
.destination{
    width: 1200px;
    margin: 150px auto; 
}
.flex-div1{
    display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flex1{
    background-image: url(./Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
   padding: 132px 207px 133px 203px;
   border-radius: 16px;
  
}
.flex2{
    background-image: url(./Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
   padding: 132px 210px 133px 210px;
   border-radius: 16px;
  
}
.flex3{
    background-image: url(./Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
   padding: 125px 125px 126px 125px;
   border-radius: 16px;
  
}
.flex4{
    background-image: url(./Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
   padding: 125px 120px 126px 120px;
   border-radius: 16px;
  
}
.flex5{
    background-image: url(./Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
   padding: 125px 80px 126px 81px;
   border-radius: 16px;
  
}
.flex6{
    background-image: url(./Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
   padding: 132px 166px 133px 165px;
   border-radius: 16px;
  
}
.flex7{
    background-image: url(./Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
   padding: 132px 271px 133px 272px;
   border-radius: 16px;
  
}

.flex-div1 div{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}


/* why choose */
.choose-sec{
    width: 1170px;
    margin: 150px auto;  
}
.text{
    text-align: center;
}
.choose-title{
    color: #131318;



font-size: 40px;

font-weight: 800;

}
.flex-div{
    margin-top: 90px;
    display: flex;
    gap: 40px;
}
.div1{
    padding: 40px;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.div2{
    padding: 40px;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.div3{
    padding: 40px;
    margin-top: 30px;
    width: 42.5%;
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin-left: 300px;
}






/* newsletter */
.newsletter{
    width: 1170px;
    margin: 150px auto;
    
}
.news-div{
    display: flex;
    gap: 40px;
}
.news-img{
    width: 672px;
    height: 422px;
}
.input-div{
   border: 1px solid #FF5400;
   border-radius: 16px;
   padding: 40px;
}
.news-title{
    color: #131318;

    
    
    font-size: 24px;
    
    font-weight: 800;
    
}
.in1{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05); 
    padding: 16px 233px 16px 20px;
    border: none;
    margin-bottom: 40px;
    margin-top: 10px;
    
}
.sub-btn{
    border-radius: 8px;
background: #FF5400;
border: none;

padding: 16px 345px 16px 20px;
}


.travel-div{
    width: 18%;
transform: rotate(-19.628deg);
padding: 5px;
border-radius: 16px;
background: #FF5400;
color: white;
text-align: center;
position: relative;
margin-left: 987px;
margin-top: -158px;
}






/* footer */
.footer-sec{
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}
.img-div{
    display: flex;
    gap: 15px;
    padding-top: 100px;
    justify-content: center;
}
.footer-title{
    color: var(--Dark-01, #131318);


font-size: 32px;

font-weight: 800;

}
.footer-span{
    color: #FF5400;

font-size: 32px;

font-weight: 800;

}

.footer-des{
    color: #5A5A5D;
    font-size: 16px;
padding-top: 15px;
    font-weight: 400;
    line-height: 26px;
}
.hr{
    margin: 50px 284px;

}
.copy{
    color: #131318;
font-size: 16px;

font-weight: 300;
padding: 50px;
}



/* resposnsive  */

@media screen and (max-width: 576px) {
    body{
        width: auto;
    }
    /* nav */
    .nav-sec{
        width: 100%;
    }
    .a a{
        display: none;
    }
    .nav-svg{
        display: block;
    }
   /* tours */
.tour-sec{
    width:100%;
    
}

   .tour-div{
    flex-direction: column;
   }
   
   .tour-img{
    width: 100%;
   }

   /* news */
   .newsletter{
    width: 100%;
   }
   .news-div{
    flex-direction: column;
   }
   .travel-div{
    position:relative;
    transform: rotate(+60.628deg);
    margin-left: 412px;
   }
   .news-img{
    width: 100%;
   }
   /* footer */
   .footer-des{
    padding-left: 20px;
    padding-right: 20px;
   }
}